#app {
    min-width: 960px;
    overflow-x: auto;
}

body, #app {
    min-height: 100%;
}

.hex-view-line,
.address-view-line {
    display: inline-block;
    margin-right: 10px;
}

.hex-view-line>span {
    display:inline-block;
    margin-right: 5px;
}

.loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
}

.loading-screen > div {
    text-align: center;
}

.hide {
    display: none !important;
}

.blink {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.bitmap-view {
    min-width: 180px;
    width: 180px;
    height: calc(100vh - 80px);
    overflow-y: scroll;
    margin-right: 10px;
    
    canvas {
        display: block;
        margin: 0;
        padding: 0;
        height: 5px;
    }
}

.hex-and-ascii-view {
    min-width: 560px;
    width: 560px;
    height: calc(100vh - 80px);
    overflow-y: scroll;
}

.utilities {
    min-width: 200px;
    max-width: 560px;
    width: calc(100vw - calc(560px + 200px));
    height: calc(100vh - 80px);
    overflow-y: scroll;
    overflow-x: scroll;
}

.landing {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

    .landing > div {
        text-align: center;
    }
