.hex-view-line,
.address-view-line {
    display: inline-block;
    margin-right: 10px;
}

.hex-view-line>span {
    display:inline-block;
    margin-right: 5px;
}

.loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.hide {
    display: none !important;
}

.blink {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.hex-and-ascii-view {
    width: 520px;
    height: calc(100vh - 40px);
    overflow-y: scroll;
    float: left;
}

.utilities {
    float: left;
    min-width: 250px;
    width: calc(100vw - 560px);
    overflow-x: scroll;
}
