<ul class="nav justify-content-center">
	<li class="nav-item">
		<a href="/">BinView Home</a>
	</li>
	<li class="nav-item text-muted">|</li>
	<li class="nav-item">
		<a href="/settings">Settings</a>
	</li>
	<li class="nav-item text-muted">|</li>
	<li class="nav-item">
		<a href="https://github.com/mkaraki/BinInteractive">Source code</a>
	</li>
</ul>

@code {

}
