name: BinView E2EE
permissions:
  contents: read

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.0.x

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --no-restore
        
      - name: Ensure browsers are installed
        run: pwsh bin/Debug/net10.0/playwright.ps1 install --with-deps
        working-directory: BinView.Tests

      - name: Test
        run: |
          dotnet run --no-build --project ../BinView/BinView.csproj &
          npx wait-on http://localhost:5163/
          dotnet test --no-build --verbosity normal --logger "junit;LogFilePath=./TestResults/junit.xml"
        working-directory: BinView.Tests

      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/test-results-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
